/* tutorial */
.tutorial-heading{
	text-align: center;
}

.tutorial-heading1{
	font: bold 25px perfectstrangers, sans-serif;
	margin: 40px 0px;
	text-align: center;
}

.tutorial-heading2{
	font: normal 33px perfectstrangers, sans-serif;
	padding: 10px;
	border: 2px #85827b;
	border-style: solid none;
	margin: 0px;
	text-align: center;
}

.tutorial-steps{
	width: 50%;
	height: 100vh;
	margin: 0px;
	padding: 0px 0px 0px 110px;
	display: inline-block;
}

.tutorial-pic{
	margin: 0px;
	padding: 50px 0px;
}

.tutorial-pic img{
	margin: 0px;
	width: 100%;
	display: flex;
}

.tutorial-pic figcaption{
	font: bold 18px perfectstrangers, sans-serif;
	text-align: center;
	margin-bottom: 10px;
}

.tutorial-tools dt{
	font: normal 35px perfectstrangers, sans-serif;
	padding-bottom: 15px;
}

.tutorial-tools dd{
	font: normal 18px perfectstrangers, sans-serif;
}

.tutorial-tools a{
	font: normal 30px perfectstrangers, sans-serif;
	padding: 10px 0px 0px 10px;
	margin: 0px;
	text-decoration: none;
	color: #473d2e;
}

.tutorial-tools a:hover{
	text-decoration: underline;
}

.tutorial-tools{
	padding: 0px;
}

.tutorial-olist>li{
	font: normal 35px perfectstrangers, sans-serif;
	margin-top: 50px;
}

.tutorial-olist ul li{
	font: normal 25px perfectstrangers, sans-serif;
	padding: 10px 0px;
}

.tutorial-olist img{
	width: 100%;
	padding: 40px 0px 20px 0px;
}

.tutorial-aside{
	background-color: #f5ebce;
	color: #473d2e;
	height: 100vh;
	float: right;
	width: 30%;
	font: bold 15px perfectstrangers, sans-serif;
	text-align: center;
	border: solid #85827b 2px;
}

.tutorial-aside img{
	margin-top: 10px;
	display: inline-block;
	width: 80%;
}

.tutorial-aside figcaption{
	font: bold 16px perfectstrangers, sans-serif;
}

#tutorial-asidetitle{
	font: normal 30px perfectstrangers, sans-serif;
	margin: 10%;
}

#tutorial-asidetext{
	font: bold 20px perfectstrangers, sans-serif;
	text-align: left;
	line-height: 1.6;
	padding: 10% 12%;
}

.tutorial-content{
	padding-bottom: 100px;
}

.tutorial-content::after{
	content: "";
	display: table;
	clear: both;
}

.tutorial-body{
	background-color: #f5ebce; 
}

.invi{
	display: none;
}

@media(max-width:780px){
	.tutorial-aside{
		height: 90vh;
	}
	.tutorial-steps{
		padding: 0% 0% 0% 10%;
	}
	
	#tutorial-asidetext{
	font: bold 18px perfectstrangers, sans-serif;
	text-align: left;
	padding: 0px;
	margin: 15%;
	}
	#tutorial-asidetitle{
	font: normal 25px perfectstrangers, sans-serif;
	margin: 10%;
	}
	.tutorial-aside figcaption{
	font: bold 8px perfectstrangers, sans-serif;
	}
}
